.highlight{
    stroke: rgb(121, 139, 236);
    stroke-width: 2px;
}

.selected-piece{
    stroke: rgba(151, 161, 222, 0.814);
    stroke-width: 2px;
}

.can-move-from{
    stroke: pink;
    stroke-width: 3px;
}
.can-move-to{
    stroke: rgba(151, 161, 222, 0.814);
    stroke-width: 4px;
}